<section>
  <div>
        <button type="submit"><a href="/dashboard/createpost" class="btn">Add New Post</a></button>
  </div>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
        {{> dashboard-edit post }}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
